{% extends 'jornal/base.html' %}
{% load static %}
{% block title %}
<title>Página Inicial</title>
{% endblock title %}
{% block content %}
<main class="section">
    <div class="container">
        <h2 class="title is-2 mb-4 has-text-black">Edições</h2>
        {% if user.is_authenticated %}
            <div class="field is-grouped">
                <p class="control">
                    <button id="create_edition" class="button is-link">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Criar Edição</span>
                    </button>
                </p>
            </div>

            <div class="box mt-4 has-background-dark" style="display: none;" id="create_edition_form">
                <h3 class="title is-5">Criar Nova Edição</h3>
                <form action="{% url 'jornal:create-edition' %}" method="POST">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label has-text-white" for="data">Data da Edição</label>
                        <div class="control">
                            <input class="input is-white" type="date" name="data" id="data" max="" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control pt-2">
                            <input type="submit" value="Finalizar" class="button is-link">
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}

        {% if not editions %}
            <div class="notification is-info is-light mt-4">
                <p>Nenhuma edição disponível</p>
            </div>
        {% else %}
            <div class="box mt-4 has-background-dark">
                <ul class="content">
                {% for ed in editions %}
                    <li><a href="{% url 'jornal:view-edition' ed.id %}">Edição {{ ed.data|date:"d/m/Y" }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</main>
<script src="{% static 'jornal/js/edition.js' %}"></script>
{% endblock content %}