{% extends 'jornal/base.html' %}
{% load static %}
{% block title %}
<title>Notícia</title>
{% endblock title %}
{% block content %}
<main class="section">
    <div class="container">
        <section id="news" class="box has-background-dark">
            <h2 class="title is-2 has-text-white">{{ news.titulo }}</h2>
            <h3 class="subtitle is-4 has-text-white-ter pt-2">Por {{ news.autor.first_name }} {{ news.autor.last_name }} ({{ news.autor.username }})</h3>
            <p class="content has-text-white-ter">{{ news.conteudo }}</p>
        </section>
        <hr class="my-6">
        <section id="comments" class="box mt-6 has-background-dark">
            <h2 class="title is-3 has-text-white">Comentários</h2>
            {% if user.is_authenticated %}
                <div class="field is-grouped">
                    <p class="control">
                        <button id="create_comment" class="button is-link">Faça um comentário</button>
                    </p>
                </div>
                <form action="{% url 'jornal:create-comment' edition_id news.id %}" method="POST" style="display:none;" id="create_comment_form">
                    {% csrf_token %}
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea has-background-white has-text-black" id="conteudo" name="conteudo" rows="5" required></textarea>
                        </div>
                        <p class="help is-danger" style="display:none;" id="conteudo_error"></p>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input type="submit" value="Comentar" class="button is-link">
                        </div>
                    </div>
                </form>
            {% endif %}
            <div id="comments_section" class="mt-4">
                <div id="async_comments"></div>
                {% for comment in comments %}
                    <div class="box is-dark mb-4">
                        <p class="title is-5 has-text-white">{{ comment.autor.username }}</p>
                        <p class="content has-text-white-ter">{{ comment.conteudo }}</p>
                    </div>
                {% empty %}
                    <div class="notification is-info is-light mt-4">
                        <p>Nenhum comentário disponível</p>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</main>
<script src="{% static 'jornal/js/comment.js' %}"></script>
{% endblock content %}